{% extends "base.html" %}
{% block title %}Fornitori{% endblock %}

{% block content %}
<a href="{% url 'home' %}" class="btn btn-outline-secondary btn-sm mb-3">
  <i class="bi bi-arrow-left-circle me-1"></i> Torna alla Dashboard
</a>
<h2>Elenco Fornitori</h2>

<div class="d-flex justify-content-between align-items-center mb-3">
  
  <a href="{% url 'anagrafiche:fornitore_create' %}" class="btn btn-success mb-3"><i class="bi bi-person-plus-fill me-2"></i> Nuovo Fornitore</a>
  <span class="text-muted">Totale Fornitori: {{ totale_fornitori }}</span>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Ragione Sociale</th>
      <th>P.IVA</th>
      <th>Email</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    {% for fornitore in fornitori %}
    <tr>
      <td>{{ fornitore.ragione_sociale }}</td>
      <td>{{ fornitore.partita_iva }}</td>
      <td>{{ fornitore.email|default_if_none:"" }}</td>
      <td>
        <a href="{% url 'anagrafiche:fornitore_update' fornitore.pk %}" class="btn btn-sm btn-primary">Modifica</a>
        <a href="{% url 'anagrafiche:fornitore_delete' fornitore.pk %}" class="btn btn-sm btn-danger">Elimina</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
